[Unit]
Description=Drainer C2 Server
After=network.target
Wants=network-online.target

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}
EnvironmentFile={{ app_dir }}/.env
ExecStart={{ app_dir }}/bin/drainer
Restart=on-failure
RestartSec=5s

# Durcissement
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{ app_dir }}

[Install]
WantedBy=multi-user.target
